text-column {
	font-size: 50px;
	line-height: 1;
	display: inline-block;
	width: 50px;
	height: 100%;
	overflow-wrap: break-word;
	color: white;
	font-weight: bold;
	text-align: center;

	&.scale-05 {
		font-size: 25px;
		width: 25px;
	}

	&.scale-15 {
		transform: scale(1.5);
	}

	&.scale-20 {
		transform: scale(2.0);
	}

	&.scale-30 {
		transform: scale(3.0);
	}
}