* {
	box-sizing: border-box;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #000;
	font-family: "Nina", sans-serif;
}

a {
	text-decoration: none;
}

@mixin hide-scrollbars() {
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	-ms-overflow-style: none;
	&::-webkit-scrollbar { display: none; }
}

button {
	border: none;

	&.menu-button {
		background: linear-gradient(to right, transparent 0%, rgba(#1572b6, 0.5) 50%, transparent 100%);
		border-top: 3px solid transparent;
		border-bottom: 3px solid transparent;
		border-image: linear-gradient(to right, transparent 0%, rgba(#fff, 0.5) 50%, transparent 100%) 1;
		color: rgba(#fff, 0.5);
		padding: 2px 20px;
		font-weight: bold;
		letter-spacing: 2px;
		font-family: "Nina", sans-serif;
		font-size: 28px;
		line-height: 1;
		letter-spacing: 10px;
		text-shadow: 1px 1px 1px rgba(#000, 1);
		transition: border-image 0.25s ease, color 0.25s ease, background 0.2s ease;

		&:hover {
			cursor: pointer;
			background: linear-gradient(to right, transparent 0%, rgba(#1572b6, 0.75) 50%, transparent 100%);
			border-image: linear-gradient(to right, transparent 0%, rgba(#fff, 1) 50%, transparent 100%) 1;
			color: rgba(#fff, 0.95);
			
		}
	}
}