main-screen {
	display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-width: 1024px;
    min-height: 768px;
    background: black;
}

screen-main {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	margin: 0 auto;
	top: 0;
    left: 0;
    right: 0;
	overflow: hidden;

	&.top-screen {
		top: -100%;
	}

	&.bottom-screen {
		top: 100%;
	}

	backround-stuff {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;		
	}

	foreground-stuff {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 75%;
		height: 100%;
		display: flex;
		align-content: center;
		flex-direction: column;
	}
}