side-bars {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;

	left-one {
		position: absolute;
		top: 0;
		left: 0;
		width: 12.5%;
		height: 100%;
		overflow: hidden;
		display: flex;
	}

	right-one {
		position: absolute;
		top: 0;
		left: 87.5%;
		width: 12.5%;
		height: 100%;
		overflow: hidden;
		display: flex;
	}
}
