.main {

	.decorations {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;

		.outter-circle {
			position: absolute;
			top: 10px;
			left: 10px;
			width: calc(100% - 20px);
			height: calc(100% - 20px);
			pointer-events: none;
			border: 5px solid #fbce5f;
			border-radius: 50%;
			box-shadow: 
				inset 0 0 5px rgba(255, 215, 0, 0.8),
				inset 0 0 10px rgba(251, 206, 95, 0.6),
				0 0 10px rgba(255, 237, 78, 0.4);
			opacity: 0.75;
		}

		.inner-circle {
			position: absolute;
			top: 90px;
			left: 90px;
			width: calc(100% - 180px);
			height: calc(100% - 180px);
			pointer-events: none;
			border: 3px solid #a06e49;
			border-radius: 50%;
			box-shadow: 
				inset 0 0 4px rgba(160, 110, 73, 0.8),
				inset 0 0 8px rgba(139, 69, 19, 0.6),
				0 0 8px rgba(205, 133, 63, 0.4);
			opacity: 0.5;
		}

		.small-left-circle {
			position: absolute;
			top:50%;
			left: 15px;
			transform: translateY(-50%);
			width: 78px;
			height: 78px;
			border: 2px solid #a06e49;
			border-radius: 50%;
			box-shadow: 
				inset 0 0 4px rgba(160, 110, 73, 0.8),
				inset 0 0 8px rgba(139, 69, 19, 0.6),
				0 0 8px rgba(205, 133, 63, 0.4);
			opacity: 0.5;
		}

		.small-right-circle {
			position: absolute;
			top:50%;
			right: 15px;
			transform: translateY(-50%);
			width: 78px;
			height: 78px;
			border: 2px solid #a06e49;
			border-radius: 50%;
			box-shadow: 
				inset 0 0 4px rgba(160, 110, 73, 0.8),
				inset 0 0 8px rgba(139, 69, 19, 0.6),
				0 0 8px rgba(205, 133, 63, 0.4);
			opacity: 0.5;
		}

	}

	mega-title {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		display: flex;
		justify-content: center;

		h1 {
			display: flex;
			flex-direction: column;
			align-content: center;
			justify-content: center;
			text-align: center;
		}

		top-mega {
			display: flex;
			font-size: 210px;
			line-height: 1;
			color: yellow;

			span {
				padding: 0 10px;
				letter-spacing: 10px;
			}

			first-letter,
			last-letter {
				font-size: 300px;
				line-height: 1px;
				position: relative;
				bottom: -135px;				
			}
		}

		bottom-mega {
			font-size: 70px;
			line-height: 1;

			span {
				display: inline-block;
				padding: 0 20px;
				background-color: goldenrod;
			}
		}
	}

	main-menu {
		display: flex;
		justify-content: center;

		span {
			display: flex;
			flex-direction: column;
			justify-content: end;
		}

		button {
			margin: 10px 0;
		}
	}

	bottom-options {
		display: flex;
		justify-content: space-between;
		padding: 20px 40px;
	}
}