doctype html
html
	head
		include head.pug
	body
		side-bars
			include sidebar/left.pug
			include sidebar/right.pug

		main-screen
			include screen/top.pug
			include screen/main.pug
			include screen/bottom.pug
