screen-main.screen.main
	backround-stuff

	foreground-stuff
		mega-title
			h1
				top-mega
					first-letter E
					span MPERO
					last-letter R
				bottom-mega
					span BATTLE FOR DUNE
		the-planet
			div.shine
			div.planet-container
				div.day
				div.clouds
				div.inner-shadow
		main-menu
			span
				button.menu-button SINGLE PLAYER
				button.menu-button MULTI PLAYER
		bottom-options
			button.menu-button EXIT
			button.menu-button OPTIONS